<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HighFe</title>
    <meta name="baidu-site-verification" content="m0xWNtgvOM" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="走向前端大神之路"/>
    <meta name="keywords" content="Hi~Fe,highfe,高级前端,前端学习, 笔记 , web front end, fe, 网页开发,web"/>
    <meta name="author" content="chenjianhui"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <% include widget/commCss.ejs %>

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?1de0f7027da402eca24519c75ddd356f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>

<% include widget/nav.ejs %>

<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">菜单 <i class="icon-menu"></i></a>
                <a class="navbar-brand" href="/index">列表</a>
            </div>
        </div>
    </div>
</header>

<div id="fh5co-main">
    <div class="container">
        <div class="row">

            <div id="fh5co-board" data-columns>
                <% for(var i=0; i < pageList.length; i++) {%>
                    <div class="item">
                        <div class="animate-box">
                            <a href="/code_download/<%=pageList[i].page_path%>" class="fh5co-item-title">
                                <%=pageList[i].page_name%>
                            </a>
                            <p class="page-detail">这是一条消息</p>
                        </div>
                        <div class="fh5co-desc">
                            <ul class="tags">
                                <li>
                                    <a href="#">标签1</a>
                                </li>
                                <li>
                                    <a href="#">标签2</a>
                                </li>
                                <li>
                                    <a href="#">标签2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<footer id="fh5co-footer">
    <div class="container">
        <div class="row row-padded">
            <p id="copybar">Copyright © <a href="./">highfe.com</a> All Rights Reserved.  <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">京ICP备16046054号</a></p>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Salvattore -->
<script src="js/salvattore.min.js"></script>
<!-- Main JS -->
<script src="js/page/index/main.js"></script>

</body>
</html>
